/* CARDS */
.countryContainer{
  width: 90%;
  margin: 0 auto;
  margin-top: 2em ;
}
.eachCard {
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: 0px 1.2px 13.6px rgba(0, 0, 0, 0.031),
    0px 2.9px 32.7px rgba(0, 0, 0, 0.044), 0px 5.4px 61.5px rgba(0, 0, 0, 0.055),
    0px 9.6px 109.7px rgba(0, 0, 0, 0.066),
    0px 18px 205.1px rgba(0, 0, 0, 0.079), 0px 43px 491px rgba(0, 0, 0, 0.11);
  color: var(--text);
  transition: var(--transition);
  text-decoration: none;
}
.eachCard:hover{
  box-shadow:
  0px 0.4px 3px rgba(0, 0, 0, 0.065),
  0px 0.9px 7.2px rgba(0, 0, 0, 0.093),
  0px 1.8px 13.5px rgba(0, 0, 0, 0.115),
  0px 3.1px 24.1px rgba(0, 0, 0, 0.137),
  0px 5.8px 45.1px rgba(0, 0, 0, 0.165),
  0px 14px 108px rgba(0, 0, 0, 0.23)
;
}
.eachCard .eachCardImg {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 500px;
}
.eachCard .cardDetails {
  display: flex;
  flex-direction: column;
  gap: 0.7em;

  padding: 1em 1em 3em 1em;
}
.eachCard .cardDetails h4 {
  padding-bottom: 0.6em;
}
/* filter elements */
.filter {
  width: 90%;
  margin: 0 auto;
}
.searchBar {
  margin: 0 auto;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  background-color: var(--elements);
  box-shadow: 0px 1.2px 13.6px rgba(0, 0, 0, 0.031),
    0px 2.9px 32.7px rgba(0, 0, 0, 0.044), 0px 5.4px 61.5px rgba(0, 0, 0, 0.055),
    0px 9.6px 109.7px rgba(0, 0, 0, 0.066),
    0px 18px 205.1px rgba(0, 0, 0, 0.079), 0px 43px 491px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  color: var(--text);
  transition: var(--transition);
}

.searchBar input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
}
.searchBar input::placeholder {
  color: var(--text);
}
.filterRegion {
  width: 60%;
  margin-top: 1em;
  padding: 1em 0.5em;
  border: none;
  box-shadow: 0px 1.2px 13.6px rgba(0, 0, 0, 0.031),
    0px 2.9px 32.7px rgba(0, 0, 0, 0.044), 0px 5.4px 61.5px rgba(0, 0, 0, 0.055),
    0px 9.6px 109.7px rgba(0, 0, 0, 0.066),
    0px 18px 205.1px rgba(0, 0, 0, 0.079), 0px 43px 491px rgba(0, 0, 0, 0.11);
  outline: none;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--elements);
  transition: var(--transition);
}

@media screen and (min-width: 1440px) {
  #countryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .filter {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
  }
  .searchBar {
    width: 30%;
    margin: 0;
  }
  .filterRegion {
    margin: 0;
    width: 10%;
  }
}
